# Secret stuff
lrc-database.service

# Python
**/__pycache__/
.venv/
poetry.lock
.venv/

# SQLite
**/*.sqlite3
**/*.sqlite3-journal

# Editors and tools
**/.mypy_cache/
**/.vscode/

# Virtual Enviroment
**/venv_lrc
**/lrc_venv
