{% extends "base.html" %}

{% comment %}
This entire page is ugly and should be redone.
This is to view a NEW request
{% endcomment %}

{% block content %}
<h2>{{ kind }} Request</h2>
<ul>
    <li><strong>Associated person:</strong> {{ shift_request.target.associated_person }}</li>
    {% if kind == "Tutoring" %}
    <li><strong>New Associated Person:</strong> {{ shift_request.new_associated_person }}</li>
    {% endif %}
    <li><strong>Current Start:</strong> {{ shift_request.target.start }}</li>
    <li><strong>New Start:</strong> {{ shift_request.new_start }}</li>
    <li><strong>Current Duration:</strong> {{ shift_request.target.duration }}</li>
    <li><strong>New Duration:</strong> {{ shift_request.new_duration }}</li>
    <li><strong>Current Location:</strong> {{ shift_request.target.location }}</li>
    <li><strong>New Location:</strong> {{ shift_request.new_location }}</li>
    <li><strong>Reason for Change:</strong></li>
    <p>{{ shift_request.reason }}</p>
</ul>
<div class="add-btn">
    <script type="text/javascript">

        function denied_clicked(self) {
            if (confirm('Are you sure you want to approve this request?')) {
                self.shift_request.request_state = "Not Approved"
            } else {
                return false;
            }
        }

    </script>
    <a href="{% url 'approve_pending_request' kind shift_request.id %}">
        <button type="button" class="btn btn-primary">
            Approve
        </button>
    </a>
    <a href="{% url 'view_denied_shift_change_requests' kind %}">
        <button type="button" class="btn btn-primary" onclick="return denied_clicked()">
            Deny
        </button>
    </a>

</div>
{% endblock %}