{% extends "base.html" %}

{% block content %}
<h2>Denied {{ kind }} change requests</h2>
<div class="add-btn">
    <a href="{% url 'view_shift_change_requests' kind %}">
        <button type="button" class="btn btn-primary">
            View New
        </button>
    </a>
    <a href="{% url 'view_approved_shift_change_requests' kind %}">
        <button type="button" class="btn btn-primary">
            View Approved
        </button>
    </a>
    <button type="button" class="btn btn-primary" style="background-color:gray">
        View Denied
    </button>
    {% if kind == "SI" %}
    <a href="{% url 'view_pending_shift_change_requests' kind %}">
        <button type="button" class="btn btn-primary">
            View Pending
        </button>
    </a>
    {% endif %}
</div>
{% include "includes/shift_change_request_table.html" %}
{% endblock %}