{% extends "base.html" %}

{% block content %}
{% if kind == "SI" or kind == "Tutoring" %}
    <h2>{{ kind }} {% if drop %}drop shift{% else %}shift change{% endif %} requests</h2>
{% else %}
    <h2>{{ kind }} shift drop/change requests</h2>
{% endif %}

{% if state == "New" or state == "Approved" or state == "Pending" or state == "Not Approved" %}
<ul class="nav nav-tabs">
    <li class="nav-item">
        <a class="nav-link {% if state == "New" %} active {% endif %}" aria-current="page" href="{% url 'view_shift_change_requests' kind 'New' %}">New</a>
    </li>
    <li class="nav-item">
        <a class="nav-link {% if state == "Approved" %} active {% endif %}" aria-current="page" href="{% url 'view_shift_change_requests' kind 'Approved' %}">Approved</a>
    </li>
    <li class="nav-item">
        <a class="nav-link {% if state == "Not Approved" %} active {% endif %}" aria-current="page" href="{% url 'view_shift_change_requests' kind 'Not Approved' %}">Not Approved</a>
    </li>
    <li class="nav-item">
        <a class="nav-link {% if state == "Pending" %} active {% endif %}" aria-current="page" href="{% url 'view_shift_change_requests' kind 'Pending' %}">Pending</a>
    </li>
</ul>
{% endif %}

{% include "includes/shift_change_request_table.html" %}
{% endblock %}
