{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}

<form action="{% url 'add_hardware' %}" method="POST" role="form">
    {% csrf_token %}
    <div class="form-group">
        <div class="input-group">
            {{ form|crispy }}
        </div>
        <div>
            <span class="input-group-btn">
                <button type="submit" class="btn btn-primary" id="add-btn">Add Hardware</button>
            </span>
        </div>
    </div>
</form>

{% endblock content %}