{% load groups %}

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="{% url 'index' %}">LRC Staff Database</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-content"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbar-content">
            <ul class="navbar-nav me-auto">
                {% if user|is_privileged %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbar-account-dropdown" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            Alerts
                            <span class="badge bg-secondary">{{ total_alert_count }}</span>
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbar-account-dropdown">
                            <li><h6 class="dropdown-header">Pending shift change requests</h6></li>
                            <li><a class="dropdown-item" href="{% url 'view_shift_change_requests' 'SI' %}">SI requests <span class="badge bg-secondary">{{ pending_si_change_count }}</span></a></li>
                            <li><a class="dropdown-item" href="{% url 'view_shift_change_requests' 'Tutoring' %}">Tutoring requests <span class="badge bg-secondary">{{ pending_tutoring_change_count }}</span></a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbar-account-dropdown" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            Employees
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbar-account-dropdown">
                            <li><h6 class="dropdown-header">List users</h6></li>
                            <li><a class="dropdown-item" href="{% url 'list_users' %}">All users</a></li>
                            <li><a class="dropdown-item" href="{% url 'list_users' 'SIs' %}">SI leaders</a></li>
                            <li><a class="dropdown-item" href="{% url 'list_users' 'Tutors' %}">Tutors</a></li>
                            <li><a class="dropdown-item" href="{% url 'list_users' 'Office staff' %}">Office staff</a></li>
                            <li><a class="dropdown-item" href="{% url 'list_users' 'Supervisors' %}">Supervisors</a></li>
                            <li><hr class="dropdown-divider" /></li>
                            <li><h6 class="dropdown-header">Manage users</h6></li>
                            <li><a class="dropdown-item" href="{% url 'create_user' %}">Create user</a></li>
                            <li><a class="dropdown-item" href="{% url 'create_users_in_bulk' %}">Create users in bulk</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbar-account-dropdown" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            Courses
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbar-account-dropdown">
                            <li><a class="dropdown-item" href="{% url 'list_courses' %}">Course list</a></li>
                            <li><a class="dropdown-item" href="{% url 'add_course' %}">Add course</a></li>
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbar-account-dropdown" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            Shifts
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbar-account-dropdown">
                            <li><a class="dropdown-item" href="{% url 'drop_shifts_on_date' %}">Drop shifts on date</a></li>
                            <li><a class="dropdown-item" href="{% url 'swap_shift_dates' %}">Swap shift dates</a></li>
                            <li><a class="dropdown-item" href="{% url 'move_shifts_from_date' %}">Move shifts from date</a></li>
                        </ul>
                    </li>
                {% endif %}
                {% if user.is_authenticated %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbar-account-dropdown" role="button"
                            data-bs-toggle="dropdown" aria-expanded="false">
                            Account
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbar-account-dropdown">
                            <li><a class="dropdown-item" href="{% url 'edit_profile' user.id %}">Edit profile</a></li>
                            <li><a class="dropdown-item" href="{% url 'password_change' %}">Change password</a></li>
                            <li><a class="dropdown-item" href="{% url 'logout' %}">Log out</a></li>
                        </ul>
                    </li>
                </ul>
                {% endif %}
            </ul>
            {% if user.is_authenticated %}
                <span class="navbar-text">
                    Signed in as <a href="{% url 'user_profile' user.id %}">{{ user.first_name }} {{ user.last_name }}</a>
                </span>
            {% endif %}
        </div>
    </div>
</nav>
